@import './fonts.scss';
@import './scrollbar.scss';
@import './variables.scss';
@import './mixins.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Noto Sans JP, sans-serif;
}

h3 {
  margin: 5px 0;
}
