@import '../../variables.scss';

:host {
  .home-container {
    text-align: center;
    padding: 1rem;

    .home-container__intro {
      padding-top: 2rem;
    }

    .home-container__panel-container {
      margin-top: 2rem;
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
    }

    .home-container__panel {
      max-width: 400px;
      padding: 1rem;
      border-radius: 5px;
      background-color: rgba(226, 237, 240, 0.884);
      box-shadow: 2px 2px 5px #dac8c8;
      flex-grow: 1;
      margin-top: 20px;
    }

    .home-container__panel-intro {
      margin-bottom: 2rem;
    }
  }
}

// @media (min-width: $medium-breakpoint) {
//   :host {
//     .home-container {
//       .home-container__panel-container {
//         flex-direction: row;
//       }
//     }
//   }
// }
