<div class="home-container">
  <h3>Hey! It's Kanji Time!</h3>
  <p class="home-container__intro">
    The place where you can improve and test your
    <strong>kanji</strong> knowledge!
  </p>
  <div class="home-container__panel-container">
    <div class="home-container__panel">
      <div class="home-container__panel-intro">
        <p>
          Want to see all kanji available in <strong>Kanji Time!</strong> and
          their meanings?
        </p>
        <p>Easy!!</p>
      </div>
      <ui-ancient-button (btnClick)="goExplore()"
        >Go explore!</ui-ancient-button
      >
    </div>
    <div class="home-container__panel">
      <div class="home-container__panel-intro">
        <p>Do you want to test your <strong> kanji skills</strong>?</p>
      </div>
      <ui-ancient-button (btnClick)="goPractice()"
        >Take the test! <br />やってみよう!</ui-ancient-button
      >
    </div>
  </div>
</div>
